<!-- <p>header works!</p> -->
<mat-toolbar class="header-class">  
    <mat-toolbar-row>
      <span class="float-left" style="padding-left: 700px;">
        <button mat-raised-button color="primary" class="button-space">Home</button>
        <button mat-raised-button color="primary" class="button-space">Services</button>
        <button mat-raised-button color="primary" class="button-space">Contact Us</button>
        <button mat-raised-button color="primary" class="button-space">About Us</button>
        <button mat-raised-button color="primary" class="button-space">Careers@Maiyya</button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
